./*.c
./*.h
*.o
*.so
*.dynlib

.vscode/*

nelvana
nelvana-keys
nelvana-exec
nelvanactl

nelvana.core
nelvana-keys.core
nelvana-exec.core
nelvanactl.core


bin/nelvana
bin/nelvana-keys
bin/nelvana-exec
bin/nelvanactl
bin/

test/test
.vscode

